# Dependencies
node_modules/
vendor/

# Env
.env
.env.*
!.env.example

# Logs / debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Next.js
web/.next/
web/out/

# Expo / React Native
app/.expo/
app/dist/
app/web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Laravel
api/storage/*.key
api/storage/app/public/*
!api/storage/app/public/.gitignore
api/storage/framework/cache/data/*
!api/storage/framework/cache/data/.gitignore
api/storage/framework/sessions/*
!api/storage/framework/sessions/.gitignore
api/storage/framework/testing/*
!api/storage/framework/testing/.gitignore
api/storage/framework/views/*
!api/storage/framework/views/.gitignore
api/storage/logs/*
!api/storage/logs/.gitignore
api/bootstrap/cache/*
!api/bootstrap/cache/.gitignore
api/public/hot
api/public/storage
api/database/*.sqlite
api/.phpunit.result.cache
api/Homestead.json
api/Homestead.yaml
api/auth.json

# Misc
*.tsbuildinfo
.next
.turbo
dist/
coverage/
